/* /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,118,1) 35%, rgba(0,212,255,1) 100%);
    font-size:18px;
    font-family:'Courier New', Courier, monospace;
    color: aquamarine;
}

h1 {
    color: red;
}

.label {
    font-weight: 900;
    font-style: oblique;
}

#picture-label {
    font-size: 14px;
}

#description {
    font-size: 15px;
}

img {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ideas {
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    text-align: center;
    background-color: beige;
    color: hotpink; 
    padding: 20;
}

h3 {
    text-align: center;
}

a {
    color: hotpink;
} 